<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpJZoJqjP4YeOKNv3wNaDDc_cP5NGEhI4</string>
	<key>GCM_SENDER_ID</key>
	<string>334751527179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.selen.HydrAID-iosver-</string>
	<key>PROJECT_ID</key>
	<string>hydraid-da6a5</string>
	<key>STORAGE_BUCKET</key>
	<string>hydraid-da6a5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334751527179:ios:7d91e8dbf3b9063178f20e</string>
</dict>
</plist>